@model ProjetoLojaJogos.Models.Cliente
@{
    ViewBag.Title = "ListarCliente";
}

<h2>Listar Cliente</h2>
<fieldset>
    <div class="editor-label">@Html.DisplayNameFor(model => model.CliNome) </div>
    <div class="editor-field">@Html.DisplayFor(model => model.CliNome)</div>
    <br /><br />

    <div class="editor-label">@Html.DisplayNameFor(model => model.CliCPF) </div>
    <div class="editor-field">@Html.DisplayFor(model => model.CliCPF)</div>
    <br /><br />

    <div class="editor-label">@Html.DisplayNameFor(model => model.CliDtNasc) </div>
    <div class="editor-field">@Html.DisplayFor(model => model.CliDtNasc)</div>
    <br /><br />

    <div class="editor-label">@Html.DisplayNameFor(model => model.CliEmail) </div>
    <div class="editor-field">@Html.DisplayFor(model => model.CliEmail)</div>
    <br /><br />


    <div class="editor-label">@Html.DisplayNameFor(model => model.CliCel) </div>
    <div class="editor-field">@Html.DisplayFor(model => model.CliCel)</div>
    <br /><br />

    <div class="editor-label">@Html.DisplayNameFor(model => model.CliEndereco) </div>
    <div class="editor-field">@Html.DisplayFor(model => model.CliEndereco)</div>
    <br /><br />

    @Html.ActionLink("Voltar", "Index", "Home")
</fieldset>

